<%layout('layouts/boilerplate')%>

<div class="container my-4">
    <h1 class="mt-4 mb-4 text-center">
      View Top-Up
    </h1>
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>User Name</th>
          <th>User ID</th>
          <th>Top-Up Method</th>
          <th>Amount (RM)</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% for (const topUp of topUpHistory) { %>
          <% let prevBalance = null; %>
          <% for (const transaction of topUp.transactionHistory) { %>
            <tr>
              <td><%= topUp.user.username %></td>
              <td><%= topUp.user._id %></td>
              <td>Card</td>
              <td>
                <% if (prevBalance === null) { %>
                  <%= transaction.balance %>
                <% } else { %>
                  <%= transaction.balance - prevBalance %>
                <% } %>
              </td>
              <td><%= transaction.date.toLocaleString() %></td>
              <td>Success</td>
            </tr>
            <% prevBalance = transaction.balance; %>
          <% } %>
        <% } %>
      </tbody>
    </table>
    <div class="row justify-content-center mb-3">
      <div class="text-center">
        <a class="btn btn-secondary" href="/">Back to Admin Portal</a>
      </div>
    </div>
  </div>